doctype html
- var className = 'checkbox-option',
- trans = require('Helper').trans,
- on = 'I',
- off = 'O';
- if (switcher) className = 'checkbox-switcher';
- if (rounded) {
-   className += ' rounded';
-   on = trans('forms.checkbox.on');
-   off = trans('forms.checkbox.off');
- }

mixin checkboxInput
    - var attrs = { type: 'checkbox' };
    - attrs.id = editorId;
    - attrs.name = name;
    - if (disabled) attrs.disabled = 'disabled';

    label(data-editor, class= className)
        input&attributes(attrs)
        span(data-on= on, data-off= off)

if (withEditor)

    - if (!editorId) editorId = 'input_' + Math.floor(Math.random() * (1000 - 1) + 1);
    - if (!name) var name = editorId;

    +checkboxInput

else
    div
        if (titleBefore)
            if (title)
                label(for= editorId)= title
            +checkboxInput
            .bbf-error(data-error)
        else
            +checkboxInput
            .bbf-error(data-error)
            if (title)
                label(for= editorId)= title
