doctype html

if !hidden
    div(class= editorExtraClass)
        label(for= editorId)
            = title
            if (required)
                em *
        div
            div(data-editor)
            div(data-error)
