*
*:before
*:after
    box-sizing()

html
    font-size 16px

html
body
    height 100%
    
body
    font-family Verdana, Geneva, sans-serif
    font-size 62.5% /* 1em = 10px */
    background #fff
    overflow hidden
